[Desktop Entry]
Encoding=UTF-8
Name=raspytube
GenericName=raspytube
Comment=watch YouTube Videos
TryExec=lxterminal
Exec=lxterminal -e raspytube.bin
Icon=raspytube
Type=Application
Categories=YouTube
